# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Environment files
.env
.env.*

# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
infra/terraform/envs/dev/terraform.tfvars

# OS / editor
.DS_Store
.idea/
.vscode/

# Local Airflow credentials
orchestration/airflow/keys/*.json

# Airflow runtime artifacts
orchestration/airflow/logs/*
!orchestration/airflow/logs/.gitkeep
